* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #F9F9F9;
}

.flex-class-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-between;
	/* margin-bottom: 1em; */
	padding: .5em 1.5em;
	background-color: white;
	opacity: .98;
	position: fixed;
	width: 100%;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #0660D4;
}


button {
	outline: none;
	border: none;
	background-color: unset;
	font-family: "Roboto", sans-serif;
}

/* ? 			 hamburger-logo-container 			*/
/* .hamburger-logo-container {
	display: flex;
} */

.hamburger {
	width: 24px;
	height: 30px;
}

.logo {
	width: 80px;
	object-fit: contain;
	margin-left: 1.5em;
}

/* ? 			search-magnifying-glass-mic-container		 */

.search-bar {
	height: 30px;
	width: 35em;
	max-width: 700px;
	outline: none;
	padding: 5px 10px;
	border: 1px solid #02020238;
	border-radius: 3px 0 0 3px;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	opacity: .8;
}


.magnifying-glass-div {
	height: 30px;
	padding: 5px 20px;
	background-color: #F9F9F9;
	border: 1px solid #02020238;
	border-radius: 0 3px 3px 0;
	
}

.magnifying-glass-icon {
	width: 20px;
}

.microphone-icon {
	margin-left: .5em;
	width: 23px;
}



/* ? 			apps-and-sign-in-container 				*/
/* .apps-and-sign-in-container{
	opacity: .8;	
} */

/* .youtube-apps-div{} */

.youtube-apps-icon {
    margin-right: 2em;
}

.settings-div{
	margin-right: 1.5em;
	width: 5px;
}

.settings-icon{
	opacity: .8;
}

.sign-in-div{
	border: 1px solid #0B62D5;
	border-radius: 3px;
	padding: 5px 15px;
}


.sign-in-avatar {
	/* width: 20px; */
	/* height:20px */
	margin-right: .3em;
	font-size: 30px;
	color: #0B62D5;
}
.sign-in-text{
	color: #0B62D5;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
}



/* ? 					main-aside-container						*/

.main-aside-container {
	display: flex;
	flex-direction: row-reverse;
	/* background-color: #F9F9F9; */
	padding: 5em 1.5em 0;
	gap: 25px;
}

main {
	width: 70%;
}

aside {
	width: 30%;
}


/* ? 					video container 							 */

.playing-video-container{
	/* width: 100%; */
	/* height: 100v; */
}

iframe {
	width: 100%;
	max-width: 1280px;
	height: 38vw;
	/* max-height: 720px; */
}


/* ? 			title container			 */

.title-container{
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #60606045;
    padding-bottom: 20px;

}

.title__vd-ttl-hashtags{
	color: #065fd4;
    font-size: 13px;
	margin-bottom: 3px;
}

.title__vd-ttl-title{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
}

.title__vd-ttl-views-date{
	font-size: 14px;
	color: #606060;
}



.actions-container{
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
}

.actions-item {
	margin: 0 5px;
	font-size: 14px;
	color: #606060;
	font-weight: 500;
}

.actions__save-btn{
	display: inline;
}

.actions__save-svg{
	display: inline;
	opacity: .6;
	width: 25px;
    vertical-align: text-bottom;
	margin-right: 5px;
}



/* ?				account container		 	*/

.account-container{
	border-bottom: 1px solid #60606045;
    padding-bottom: 20px;
}

.account__details-div{
	margin-top: 20px;
	display: grid;
	gap: 10px;
	grid-template-columns: 50px 1fr 100px;
	grid-template-areas: 
	"img usernameANDsubs button"
	"img usernameANDsubs button"
	"img description description"
	"img show-more show-more"
	;
}

.account__avatar{
	grid-area: img;
	width: 48px;
	object-fit: none;
	border-radius: 50px;
	margin-right: 10px;
}

.account-username-subs-div{
	grid-area: usernameANDsubs;
	margin-top: 10px;
	margin-bottom: 20px;
}

.account__username{
	font-size: 14px;
	display: inline;
}

.account__subscribers{
	font-size: 13px;
	color: #606060;
}

.account__subscribe-btn-div{
	background-color: #CC0600;
	color: white;
	padding: 10px 15px;
	border-radius: 2px;
	align-self: flex-start;
}

.account__description {
	grid-area: description;
	font-size: 14px;
	margin-bottom: 20px;
}

.account__show-more{
	grid-area: show-more;
	font-size: 13px;
	color: #606060;
	/* font-weight: 500; */
}



/* ?		new comment container 			 */

.new-comment-container {
	margin-top: 20px;
}

.new-comment__title,
.new-comment__sort-by,
.new-comment__avatar,
.new-comment__placeholder{
	display: inline-block;
}

.new-comment__title{
	font-size: 16px;
    font-weight: 400;
	margin-right: 20px;
}

.new-comment__sort-by{
	color: #606060;
	font-size: 14px;
	vertical-align: text-top;
}

.new-comment-avatar-placeholder-div {
	display: flex;
	align-items: center;
	margin-top: 20px;

}

.new-comment__avatar{
	width: 40px;
	border-radius: 50px;
	margin-right: 10px;
}

.new-comment__placeholder{
	width: 100%;
	border-bottom: 1px solid #60606045;
    padding-bottom: 8px;
    color: #606060;
    font-size: 14px;

}

.new-comment__svg{
	display: inline;
	opacity: .6;
	width: 25px;
    vertical-align: text-bottom;
	margin-right: 5px;
}

/* ?					aside			*/

.sidebar__video-div{
    /* display: grid;
    column-gap: 10px;
    row-gap: 5px;
    grid-template-columns: 200px 1fr;
	grid-template-areas: 
						"img title"
						"img username"
						"img views-date"; */
						display: flex;
						margin-bottom: 5px;
}

.sidebar__video-img {
	width: 168px;
	grid-area: img;
	margin-right: 10px;
}

.sidebar__username-verified-icon{
	margin-bottom: 3px;
}

.sidebar__video-title {
	grid-area: title;
	font-size: 14px;
	margin-bottom: 3px;
}
.sidebar__video-username {
	grid-area: username;
	font-size: 13px;
	color:#606060;
	display: inline;
}
.sidebar__video-views-date {
	grid-area: views-date;
	font-size: 13px;
	color:#606060;
}



.verified-icon {
	width: 13px;
	opacity: 0.6;
	display: inline;
	vertical-align: middle;
}

.sidebar__username:las



/* ?						media queries						 */

@media (min-width: 1000px) {
	.main-aside-container {
		max-width: 1750px;
		margin: 0 auto;
	}

}